# Ambientes virtuais e variáveis de ambiente
venv/
.env
*.pyc
__pycache__/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Power BI e arquivos temporários
*.pbix
*.pbix.metabase
*.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# Logs
*.log

guia-portfolio.md